h2 {
    color: #077;
    overflow: hidden;
}
h2:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
    left: 0.5em;
    margin-right: -50%;
}
a {
    color: #32a;
}
